body {
    font-size: 25px;
    color: black;
    font-family: sans-serif;
}

.laferarribanner {
    padding: 0;
    margin: 0;
    border: 0;
    top: 0;

    display: block;
    width: 100%;
    height: auto;

    background-image: url(resources/Laferrari-banner.png);
}

.laferraribanner h3 {
    font-family: monospace;
    font-size: 100px;
    color: rgb(56, 56, 56);
    text-align: center;
}